.s-l{
  padding: 0px!important;
}
/* Horizontal line */
.privacy-setting .collapsible-link::before {
  content: '';
  width: 14px;
  height: 3px;
  background: #842dce;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.privacy-setting .collapsible-link::after {
  content: '';
  width: 3px;
  height: 8px;
  background: #842dce;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.privacy-setting .collapsible-link[aria-expanded='true']::after {
  transform: rotate(180deg) translateX(-1px);
}

.privacy-setting .collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}
.privacy-setting-h6 a{
  color: #000!important;
  font-weight: 400!important;
}
.privacy-setting-h6 a:hover{
  text-decoration: none!important;
}
.sub-sp-head{
  font-size: 12px!important;
  color: #969696;
}
.privacy-setting-span{
  font-size: 13px!important;
  color:#656565;
}
.tickb-sl{
  font-size: 13px!important;
  color: #656565;
}
.chang-btni-sl {
    font-size: 14px!important;
}















